*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1e4f68;
}


table{
    background-color: #0c2835;
}

table td{
    border: 1px solid rgba(0,0,0,.2);
}



.button{
    width: 54px;
    height: 50px;
    
    margin-top: 0px;
    background-color: #0c2835;
    color: #fff;
    border: none;
}
.button:active{
    background-color: #db3704;
}
.numberview{
    width: 230px;
    height: 80px;
    font-size: 25px;
    text-align: right;
    
    
}
.main{
    width: 300px;
    margin: auto;
    padding-top: 50px;
    
}

.button.color{
    width: 112px;
    background-color:#e85b1e;
    margin-left: 0;
}
.button.color:active{
    background-color:#db3704;
}

.button.color-blue{
    height: 106px;
    background-color: #e85b1e;
}
.button.color-blue:active{
    background-color:#db3704;
}