.wrapper{
    width: 1500px;
    box-sizing: border-box;
    margin: auto;
   
   
}

.car{
   background-color: #fff;
   width: 270px;
   float: left;
   margin: 20px;
   
   border: 1px solid #E0E0E0;
}
.naslov-vozila{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    overflow: hidden;
    height: 74px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}
.cijena-vozila{
    color: #666;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
}
.godina{
    color: #666;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 10px;
    float: none;
}
.kilometri{
    color: #666;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 10px;
    float: none;
    margin-left: 74px;
}
